.version.index /* version checker */
{
	color: #000018;
	background-color: #81F75C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1330px;
	min-height: 614px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u8761
{
	z-index: 2;
	height: 691px;
}

#u8761-bw
{
	z-index: 2;
	margin-top: -36px;
	height: 691px;
}

#u8598
{
	z-index: 3;
	min-height: 604px;
	background: transparent url("../images/u8598-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,255,255,0.38)),color-stop(66%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(0,255,255,0.38) ,rgba(255,255,255,0) 66%);
	background: linear-gradient(to bottom,rgba(0,255,255,0.38) ,rgba(255,255,255,0) 66%);
}

#u8598_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1330px;
	position: relative;
	left: -100px;
}

#u8598_position_content
{
	padding-bottom: 318px;
}

#u8557
{
	z-index: 4;
	width: 251px;
	height: 252px;
	left: 640px;
	position: relative;
	background: transparent url("../images/africa.png") no-repeat center center;
	background-size: cover;
}

#menuu8620
{
	z-index: 5;
	width: 491px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 520px;
	position: relative;
}

#u8740
{
	width: 96px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8744-4
{
	width: 96px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u8743.MuseMenuActive #u8744-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u8628
{
	width: 96px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 98px;
}

#u8743,#u8729
{
	width: 96px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u8729.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u8732-4
{
	width: 82px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u8729.MuseMenuActive #u8732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u8730
{
	z-index: 18;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 82px;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u8729.MuseMenuActive #u8730
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8629
{
	width: 160px;
	background-color: transparent;
	top: 34px;
}

#u8630
{
	width: 158px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u8667
{
	width: 158px;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u8669-4
{
	width: 150px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8667:hover #u8669-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8709
{
	width: 158px;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u8667:hover,#u8709:hover
{
	background-color: #7F7F7F;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8711-4
{
	width: 150px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8667.MuseMenuActive #u8669-4,#u8709:hover #u8711-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8690
{
	width: 158px;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u8690:hover
{
	background-color: #7F7F7F;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8691-4
{
	width: 150px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8709.MuseMenuActive #u8711-4,#u8690:hover #u8691-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8655
{
	width: 158px;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u8655:hover
{
	background-color: #7F7F7F;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8658-4
{
	width: 150px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8690.MuseMenuActive #u8691-4,#u8655:hover #u8658-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8632
{
	width: 158px;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u8632:hover
{
	background-color: #7F7F7F;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8634-4
{
	width: 150px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8655.MuseMenuActive #u8658-4,#u8632:hover #u8634-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8676
{
	width: 158px;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u8676:hover
{
	background-color: #7F7F7F;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8679-4
{
	width: 150px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8632.MuseMenuActive #u8634-4,#u8676:hover #u8679-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8702
{
	width: 158px;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u8702:hover
{
	background-color: #7F7F7F;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8705-4
{
	width: 150px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8676.MuseMenuActive #u8679-4,#u8702:hover #u8705-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8641
{
	width: 158px;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u8641:hover
{
	background-color: #7F7F7F;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8644-4
{
	width: 150px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8702.MuseMenuActive #u8705-4,#u8641:hover #u8644-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8725
{
	width: 158px;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u8725:hover
{
	background-color: #7F7F7F;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8726-4
{
	width: 150px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8641.MuseMenuActive #u8644-4,#u8725:hover #u8726-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8716
{
	width: 158px;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u8716:hover
{
	background-color: #7F7F7F;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8719-4
{
	width: 150px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8725.MuseMenuActive #u8726-4,#u8716:hover #u8719-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8646
{
	width: 158px;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u8646:hover
{
	background-color: #7F7F7F;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8647-4
{
	width: 150px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8716.MuseMenuActive #u8719-4,#u8646:hover #u8647-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8683
{
	width: 158px;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u8683:hover
{
	background-color: #7F7F7F;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8686-4
{
	width: 150px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8646.MuseMenuActive #u8647-4,#u8683:hover #u8686-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8660
{
	width: 158px;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u8660:hover
{
	background-color: #7F7F7F;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8709.MuseMenuActive,#u8690.MuseMenuActive,#u8655.MuseMenuActive,#u8632.MuseMenuActive,#u8676.MuseMenuActive,#u8702.MuseMenuActive,#u8641.MuseMenuActive,#u8725.MuseMenuActive,#u8716.MuseMenuActive,#u8646.MuseMenuActive,#u8683.MuseMenuActive,#u8660.MuseMenuActive
{
	background-color: #666666;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8661-4
{
	width: 150px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8683.MuseMenuActive #u8686-4,#u8660:hover #u8661-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8666,#u8708,#u8687,#u8652,#u8631,#u8673,#u8701,#u8638,#u8722,#u8715,#u8645,#u8680,#u8659,#u8694
{
	width: 158px;
	background-color: transparent;
	position: relative;
}

#u8695
{
	width: 158px;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u8695:hover
{
	background-color: #7F7F7F;
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8697-4
{
	width: 150px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8660.MuseMenuActive #u8661-4,#u8695:hover #u8697-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8695.MuseMenuActive #u8697-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8754
{
	width: 97px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u8757-4
{
	width: 97px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u8621
{
	width: 97px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 295px;
}

#u8625-4
{
	width: 97px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u8733
{
	width: 97px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#u8755,#u8622,#u8734
{
	width: 97px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u8736-4
{
	width: 97px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u8755.MuseMenuActive #u8757-4,#u8622.MuseMenuActive #u8625-4,#u8734.MuseMenuActive #u8736-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u8598-bw
{
	z-index: 3;
	min-height: 604px;
	margin-top: -36px;
}

body
{
	position: relative;
	min-width: 1330px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

