#menuu4056
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u4057,#u4060
{
	background-color: transparent;
	position: relative;
}

#u4062-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u4085,#u4086
{
	background-color: transparent;
	position: relative;
}

#u4087-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u4071,#u4072
{
	background-color: transparent;
	position: relative;
}

#u4075-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u4073
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u4072.MuseMenuActive #u4073
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u4076
{
	background-color: transparent;
}

#u4077
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u4125
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u4125:hover
{
	background-color: #7F7F7F;
}

#u4127-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u4139
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u4139:hover
{
	background-color: #7F7F7F;
}

#u4141-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u4144
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u4144:hover
{
	background-color: #7F7F7F;
}

#u4147-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u4153
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u4153:hover
{
	background-color: #7F7F7F;
}

#u4155-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u4160
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u4160:hover
{
	background-color: #7F7F7F;
}

#u4163-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u4165
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u4165:hover
{
	background-color: #7F7F7F;
}

#u4168-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u4202
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u4202:hover
{
	background-color: #7F7F7F;
}

#u4204-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u4216
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u4216:hover
{
	background-color: #7F7F7F;
}

#u4218-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u4221
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u4221:hover
{
	background-color: #7F7F7F;
}

#u4224-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u4228
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u4228:hover
{
	background-color: #7F7F7F;
}

#u4125.MuseMenuActive,#u4139.MuseMenuActive,#u4144.MuseMenuActive,#u4153.MuseMenuActive,#u4160.MuseMenuActive,#u4165.MuseMenuActive,#u4202.MuseMenuActive,#u4216.MuseMenuActive,#u4221.MuseMenuActive,#u4228.MuseMenuActive
{
	background-color: #666666;
}

#u4229-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u4124,#u4136,#u4143,#u4150,#u4157,#u4164,#u4199,#u4213,#u4220,#u4227,#u4078,#u4079
{
	background-color: transparent;
	position: relative;
}

#u4080-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u4343,#u4344
{
	background-color: transparent;
	position: relative;
}

#u4346-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u4092,#u4093
{
	background-color: transparent;
	position: relative;
}

#u4096-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u4100
{
	background-color: #000000;
	position: relative;
}

#u4099,#u5457
{
	position: relative;
	background: transparent url("../images/africa.png") no-repeat center center;
	background-size: cover;
}

#u4296
{
	background: #29ABE2 url("../images/stylish.jpg") no-repeat center center;
	background-size: contain;
}

#u5458,#u4296_align_to_page
{
	position: relative;
}

#u5246-5
{
	background-color: transparent;
	color: #000000;
	position: relative;
}

#u5246-2
{
	text-align: center;
}

#u5246-3
{
	text-align: left;
}

#u4994-4
{
	background-color: transparent;
	font-size: 14px;
	color: #000000;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u5052-4,#u5053-4,#u5054-4,#u5055-4,#u5057-4,#u5058-4,#u5059-4,#u5060-4,#u5061-4,#u5062-4,#u5063-4,#u5064-4
{
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #000000;
	position: relative;
}

