.version.statistics /* version checker */
{
	color: #0000EA;
	background-color: #F9146D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1330px;
	min-height: 845px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -30px;
	margin-bottom: -33px;
	width: 0.01px;
}

#u4099
{
	z-index: 349;
	width: 122px;
	height: 120px;
	margin-left: 604px;
}

#menuu4056
{
	z-index: 231;
	width: 491px;
	margin-left: 419px;
	margin-top: 2px;
}

#u4085
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
}

#u4086
{
	width: 96px;
	padding-bottom: 17px;
}

#u4087-4
{
	width: 96px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u4086.MuseMenuActive #u4087-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u4071
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 98px;
}

#u4072
{
	width: 96px;
	padding-bottom: 17px;
}

#u4086.MuseMenuActive,#u4072.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u4075-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u4072.MuseMenuActive #u4075-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u4073
{
	z-index: 244;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 82px;
}

#u4072.MuseMenuActive #u4073
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4076
{
	width: 160px;
	top: 34px;
}

#u4125
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4125:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4127-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4125:hover #u4127-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4139
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4125.MuseMenuActive,#u4139:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4141-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4125.MuseMenuActive #u4127-4,#u4139:hover #u4141-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4144
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4139.MuseMenuActive,#u4144:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4147-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4139.MuseMenuActive #u4141-4,#u4144:hover #u4147-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8226
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4144.MuseMenuActive,#u8226:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8229-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4144.MuseMenuActive #u4147-4,#u8226:hover #u8229-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4153
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u8226.MuseMenuActive,#u4153:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4155-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8226.MuseMenuActive #u8229-4,#u4153:hover #u4155-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8242
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4153.MuseMenuActive,#u8242:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8243-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4153.MuseMenuActive #u4155-4,#u8242:hover #u8243-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4160
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u8242.MuseMenuActive,#u4160:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4163-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8242.MuseMenuActive #u8243-4,#u4160:hover #u4163-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4165
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4160.MuseMenuActive,#u4165:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4168-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4160.MuseMenuActive #u4163-4,#u4165:hover #u4168-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u8233
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4165.MuseMenuActive,#u8233:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8236-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4165.MuseMenuActive #u4168-4,#u8233:hover #u8236-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4202
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u8233.MuseMenuActive,#u4202:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4204-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u8233.MuseMenuActive #u8236-4,#u4202:hover #u4204-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4216
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4202.MuseMenuActive,#u4216:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4218-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4202.MuseMenuActive #u4204-4,#u4216:hover #u4218-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4221
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4216.MuseMenuActive,#u4221:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4224-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4216.MuseMenuActive #u4218-4,#u4221:hover #u4224-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4228
{
	width: 158px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u4221.MuseMenuActive,#u4228:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4229-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4221.MuseMenuActive #u4224-4,#u4228:hover #u4229-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4077,#u4124,#u4136,#u4143,#u8225,#u4150,#u8239,#u4157,#u4164,#u8232,#u4199,#u4213,#u4220,#u4227,#u7813
{
	width: 158px;
}

#u7816
{
	width: 158px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u4228.MuseMenuActive,#u7816:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7816.MuseMenuActive
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7819-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4228.MuseMenuActive #u4229-4,#u7816:hover #u7819-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u7816.MuseMenuActive #u7819-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4078
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
	left: 196px;
}

#u4079
{
	width: 97px;
	padding-bottom: 17px;
}

#u4080-4
{
	width: 97px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u4343
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
	left: 295px;
}

#u4344
{
	width: 97px;
	padding-bottom: 17px;
}

#u4346-4
{
	width: 97px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u4092
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
	left: 394px;
}

#u4093
{
	width: 97px;
	padding-bottom: 17px;
}

#u4079.MuseMenuActive,#u4344.MuseMenuActive,#u4093.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u4096-4
{
	width: 97px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u4079.MuseMenuActive #u4080-4,#u4344.MuseMenuActive #u4346-4,#u4093.MuseMenuActive #u4096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u7915
{
	z-index: 230;
	width: 78px;
	height: 3px;
	background-color: #7F7F7F;
	margin-left: 426px;
	top: -5px;
	margin-bottom: -3px;
	position: relative;
}

#pu5344
{
	width: 0.01px;
	margin-left: -100px;
}

#u5344
{
	z-index: 118;
	height: 176px;
	background: transparent url("../images/831b37ff5b613882581892d1b57ebbc9.jpg") no-repeat center bottom;
	background-size: cover;
}

#u5344-bw
{
	z-index: 118;
	margin-top: 3px;
	height: 176px;
}

#u5346
{
	z-index: 119;
	min-height: 96px;
	background-color: #B9B1AB;
	background-color: rgba(115,99,87,0.5);
	padding-bottom: 64px;
	-pie-background: rgba(115,99,87,0.5);
}

#u5346_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1330px;
	position: relative;
	left: -100px;
}

#u5345-4
{
	z-index: 120;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 547px;
}

#u5346-bw
{
	z-index: 119;
	min-height: 96px;
	margin-top: 11px;
}

#u8013
{
	z-index: 350;
	width: 1310px;
	height: 2px;
	margin-right: -10000px;
	left: 120px;
}

#u5454-5
{
	z-index: 124;
	display: block;
	vertical-align: top;
	margin-left: 110px;
	margin-top: 59px;
	position: relative;
}

#pu2726-4
{
	width: 0.01px;
	margin-left: 337px;
	margin-top: 31px;
}

#u2726-4
{
	z-index: 3;
	width: 60px;
	min-height: 19px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	line-height: 19px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2752-4
{
	z-index: 40;
	width: 64px;
	min-height: 19px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	line-height: 19px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 593px;
}

#ppu2753-13
{
	width: 0.01px;
	margin-left: 110px;
	margin-top: 4px;
}

#u2753-13
{
	z-index: 44;
	width: 515px;
	min-height: 172px;
	border-style: solid;
	border-color: #C7B299;
	background-color: #E5E5E5;
	background-color: rgba(0,0,0,0.1);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
	-pie-background: rgba(0,0,0,0.1);
}

#u2754
{
	z-index: 57;
	width: 139px;
	height: 172px;
	position: relative;
	margin-right: -10000px;
	left: 375px;
	background: transparent url("../images/p9808.png") no-repeat center top;
	background-size: contain;
}

#u2735-13
{
	z-index: 7;
	width: 513px;
	min-height: 172px;
	border-style: solid;
	border-color: #C7B299;
	background-color: #E5E5E5;
	background-color: rgba(0,0,0,0.1);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
	-pie-background: rgba(0,0,0,0.1);
}

#u2735-7
{
	font-size: 25px;
	line-height: 30px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u2728
{
	z-index: 20;
	width: 138px;
	height: 172px;
	position: relative;
	margin-right: -10000px;
	left: 375px;
	background: transparent url("../images/p9808.png") no-repeat center top;
	background-size: contain;
}

#ppu2742-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u2742-4
{
	z-index: 21;
	width: 513px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	text-align: left;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u4361-4
{
	z-index: 114;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 373px;
}

#u2743-5
{
	z-index: 25;
	width: 513px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u6177-4
{
	z-index: 132;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 373px;
}

#u2744-5
{
	z-index: 30;
	width: 513px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u6178-4
{
	z-index: 136;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 373px;
}

#u2745-5
{
	z-index: 35;
	width: 513px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u6179-4
{
	z-index: 140;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 373px;
}

#u6109
{
	z-index: 130;
	width: 30px;
	height: 121px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 525px;
	border-width: 0px 1px 0px 0px;
}

#ppu2755-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 594px;
}

#u2755-4
{
	z-index: 58;
	width: 517px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	text-align: left;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u6185-4
{
	z-index: 144;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 375px;
}

#u2756-5
{
	z-index: 62;
	width: 517px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u6186-4
{
	z-index: 148;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 375px;
}

#u2757-5
{
	z-index: 67;
	width: 517px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u6187-4
{
	z-index: 152;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 375px;
}

#u2758-5
{
	z-index: 72;
	width: 517px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u6188-4
{
	z-index: 156;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 375px;
}

#u2790-5
{
	z-index: 109;
	display: block;
	vertical-align: top;
	margin-left: 110px;
	margin-top: 64px;
	position: relative;
}

#pu2766-4
{
	width: 0.01px;
	margin-left: 342px;
	margin-top: 20px;
}

#u2766-4
{
	z-index: 77;
	width: 53px;
	min-height: 19px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	line-height: 19px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u2778-4
{
	z-index: 93;
	width: 115px;
	min-height: 19px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	line-height: 19px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#ppu2779-11
{
	width: 0.01px;
	margin-left: 110px;
	margin-top: 5px;
}

#pu2753-13,#pu2779-11
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 594px;
}

#u2779-11
{
	z-index: 97;
	width: 513px;
	min-height: 172px;
	background-color: #E5E5E5;
	background-color: rgba(0,0,0,0.1);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.1);
}

#u2780
{
	z-index: 108;
	width: 139px;
	height: 172px;
	position: relative;
	margin-right: -10000px;
	left: 374px;
	background: transparent url("../images/union.png") no-repeat center center;
	background-size: contain;
}

#u2767-11
{
	z-index: 81;
	width: 513px;
	min-height: 172px;
	background-color: #E5E5E5;
	background-color: rgba(0,0,0,0.1);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.1);
}

#u2753-4,#u2753-6,#u2735-4,#u2779-4,#u2767-4
{
	font-size: 25px;
	line-height: 30px;
}

#u2767-6
{
	font-size: 18px;
	line-height: 22px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u2753-5,#u2753-7,#u2753-11,#u2735-5,#u2735-11,#u2779-5,#u2779-9,#u2767-5,#u2767-9
{
	font-size: 18px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2753-3,#u2753-9,#u2735-3,#u2735-9,#u2779-3,#u2779-7,#u2767-3,#u2767-7
{
	line-height: 22px;
}

#u2753-10,#u2735-10,#u2779-8,#u2767-8
{
	font-size: 15px;
	color: #000000;
	line-height: 18px;
}

#u2768
{
	z-index: 92;
	width: 142px;
	height: 172px;
	position: relative;
	margin-right: -10000px;
	left: 371px;
	background: transparent url("../images/hamglor.png") no-repeat center center;
	background-size: contain;
}

#pppu2742-4,#pppu6194-4
{
	width: 0.01px;
	margin-left: 110px;
}

#ppu6194-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u6194-4
{
	z-index: 160;
	width: 513px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	text-align: left;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u6203-4
{
	z-index: 179;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 373px;
}

#u6195-5
{
	z-index: 164;
	width: 513px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u6204-4
{
	z-index: 183;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 373px;
}

#u6196-5
{
	z-index: 169;
	width: 513px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u6205-4
{
	z-index: 187;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 373px;
}

#u6197-5
{
	z-index: 174;
	width: 513px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u6206-4
{
	z-index: 191;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 373px;
}

#u6111
{
	z-index: 131;
	width: 30px;
	height: 122px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 525px;
	border-width: 0px 1px 0px 0px;
}

#ppu6212-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 10px;
	margin-left: 594px;
}

#pu2742-4,#pu2755-4,#pu6194-4,#pu6212-4
{
	width: 0.01px;
}

#u6212-4
{
	z-index: 195;
	width: 513px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	text-align: left;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u6221-4
{
	z-index: 214;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 373px;
}

#pu2743-5,#pu2756-5,#pu6195-5,#pu6213-5
{
	width: 0.01px;
	margin-top: 5px;
}

#u6213-5
{
	z-index: 199;
	width: 513px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u6222-4
{
	z-index: 218;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 373px;
}

#pu2744-5,#pu2757-5,#pu6196-5,#pu6214-5
{
	width: 0.01px;
	margin-top: 3px;
}

#u6214-5
{
	z-index: 204;
	width: 513px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u6223-4
{
	z-index: 222;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 373px;
}

#pu2745-5,#pu2758-5,#pu6197-5,#pu6215-5
{
	width: 0.01px;
	margin-top: 4px;
}

#u6215-5
{
	z-index: 209;
	width: 513px;
	min-height: 26px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u2743,#u2744,#u2745,#u2756,#u2757,#u2758,#u6195,#u6196,#u6197,#u6213,#u6214,#u6215
{
	line-height: 17px;
}

#u2742,#u2743-2,#u2744-2,#u2745-2,#u2755,#u2756-2,#u2757-2,#u2758-2,#u6194,#u6195-2,#u6196-2,#u6197-2,#u6212,#u6213-2,#u6214-2,#u6215-2
{
	font-size: 13px;
	line-height: 16px;
}

#u6224-4
{
	z-index: 226;
	width: 140px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 373px;
}

#u2742-2,#u4361-2,#u2743-3,#u6177-2,#u2744-3,#u6178-2,#u2745-3,#u6179-2,#u2755-2,#u6185-2,#u2756-3,#u6186-2,#u2757-3,#u6187-2,#u2758-3,#u6188-2,#u6194-2,#u6203-2,#u6195-3,#u6204-2,#u6196-3,#u6205-2,#u6197-3,#u6206-2,#u6212-2,#u6221-2,#u6213-3,#u6222-2,#u6214-3,#u6223-2,#u6215-3,#u6224-2
{
	padding-top: 5px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4361,#u6177,#u6178,#u6179,#u6185,#u6186,#u6187,#u6188,#u6203,#u6204,#u6205,#u6206,#u6221,#u6222,#u6223,#u6224
{
	font-size: 13px;
	line-height: 12px;
}

#u5460
{
	z-index: 129;
	width: 165px;
	height: 35px;
	margin-left: 568px;
	margin-top: 121px;
	position: relative;
}

#pu5458
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u5458
{
	z-index: 2;
	width: 42px;
	height: 52px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 135px;
}

.ie #u5460,.ie #u5458
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4296
{
	z-index: 351;
	min-height: 328px;
	padding-bottom: 33px;
}

#u4296_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1330px;
	left: -100px;
}

#u5052-6
{
	z-index: 356;
	width: 49px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 163px;
	left: 265px;
}

#u5053-6
{
	z-index: 362;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 163px;
	left: 327px;
}

#pu5457
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 418px;
}

#u5457
{
	z-index: 421;
	width: 122px;
	height: 120px;
	margin-left: 298px;
}

#pu5054-6
{
	width: 0.01px;
	margin-top: 36px;
}

#u5054-6
{
	z-index: 368;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u5055-6
{
	z-index: 374;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 91px;
}

#u5057-4
{
	z-index: 380;
	width: 77px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 182px;
}

#u5058-6
{
	z-index: 384;
	width: 99px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 278px;
}

#u5059-4
{
	z-index: 390;
	width: 125px;
	min-height: 26px;
	margin-right: -10000px;
	left: 396px;
}

#u5060-6
{
	z-index: 394;
	width: 44px;
	min-height: 26px;
	margin-right: -10000px;
	left: 540px;
}

#u5061-4
{
	z-index: 400;
	width: 86px;
	min-height: 26px;
	margin-right: -10000px;
	left: 603px;
}

#u5246-5
{
	z-index: 416;
	width: 694px;
	min-height: 23px;
	margin-top: 55px;
}

#u4994-4
{
	z-index: 352;
	width: 346px;
	min-height: 23px;
	margin-left: 182px;
	margin-top: 24px;
}

#u5062-6
{
	z-index: 404;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 164px;
	left: 1125px;
}

#u5063-6
{
	z-index: 410;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 163px;
	left: 1216px;
}

#u4296-bw
{
	z-index: 351;
	min-height: 328px;
}

body
{
	position: relative;
	min-width: 1330px;
	padding-top: 30px;
	padding-bottom: 33px;
}

#page .verticalspacer
{
	clear: both;
}

