.version.transfers /* version checker */
{
	color: #000019;
	background-color: #B79283;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1330px;
	min-height: 843.9999999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -27px;
	padding-bottom: 2px;
	width: 0.01px;
}

#menuu4056
{
	z-index: 18;
	width: 491px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 420px;
}

#u4057
{
	width: 80px;
	min-height: 34px;
	margin-right: -10000px;
}

#u4060
{
	width: 80px;
	padding-bottom: 17px;
}

#u4062-4
{
	width: 80px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u4085
{
	width: 80px;
	min-height: 34px;
	margin-right: -10000px;
	left: 82px;
}

#u4086
{
	width: 80px;
	padding-bottom: 17px;
}

#u4087-4
{
	width: 80px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u4071
{
	width: 80px;
	min-height: 34px;
	margin-right: -10000px;
	left: 164px;
}

#u4072
{
	width: 80px;
	padding-bottom: 17px;
}

#u4075-4
{
	width: 66px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u4072.MuseMenuActive #u4075-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u4073
{
	z-index: 37;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 66px;
}

#u4072.MuseMenuActive #u4073
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4076
{
	width: 160px;
	top: 34px;
}

#u4125
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4125:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4127-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4125:hover #u4127-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4139
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4125.MuseMenuActive,#u4139:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4141-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4125.MuseMenuActive #u4127-4,#u4139:hover #u4141-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4144
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4139.MuseMenuActive,#u4144:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4147-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4139.MuseMenuActive #u4141-4,#u4144:hover #u4147-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4153
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4144.MuseMenuActive,#u4153:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4155-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4144.MuseMenuActive #u4147-4,#u4153:hover #u4155-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4160
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4153.MuseMenuActive,#u4160:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4163-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4153.MuseMenuActive #u4155-4,#u4160:hover #u4163-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4165
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4160.MuseMenuActive,#u4165:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4168-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4160.MuseMenuActive #u4163-4,#u4165:hover #u4168-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4202
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4165.MuseMenuActive,#u4202:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4204-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4165.MuseMenuActive #u4168-4,#u4202:hover #u4204-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4216
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4202.MuseMenuActive,#u4216:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4218-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4202.MuseMenuActive #u4204-4,#u4216:hover #u4218-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4221
{
	width: 158px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u4216.MuseMenuActive,#u4221:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4224-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4216.MuseMenuActive #u4218-4,#u4221:hover #u4224-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4077,#u4124,#u4136,#u4143,#u4150,#u4157,#u4164,#u4199,#u4213,#u4220,#u4227
{
	width: 158px;
}

#u4228
{
	width: 158px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u4221.MuseMenuActive,#u4228:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4228.MuseMenuActive
{
	width: 158px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4229-4
{
	width: 150px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u4221.MuseMenuActive #u4224-4,#u4228:hover #u4229-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4228.MuseMenuActive #u4229-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4078
{
	width: 80px;
	min-height: 34px;
	margin-right: -10000px;
	left: 246px;
}

#u4079
{
	width: 80px;
	padding-bottom: 17px;
}

#u4080-4
{
	width: 80px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u4343
{
	width: 80px;
	min-height: 34px;
	margin-right: -10000px;
	left: 328px;
}

#u4344
{
	width: 80px;
	padding-bottom: 17px;
}

#u4060.MuseMenuActive,#u4086.MuseMenuActive,#u4072.MuseMenuActive,#u4079.MuseMenuActive,#u4344.MuseMenuActive
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u4346-4
{
	width: 80px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u4060.MuseMenuActive #u4062-4,#u4086.MuseMenuActive #u4087-4,#u4079.MuseMenuActive #u4080-4,#u4344.MuseMenuActive #u4346-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u4092
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
	left: 410px;
}

#u4093
{
	width: 81px;
	padding-bottom: 17px;
}

#u4093.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u4096-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u4093.MuseMenuActive #u4096-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u4099
{
	z-index: 118;
	width: 122px;
	height: 120px;
	margin-right: -10000px;
	left: 20px;
}

#u4100
{
	z-index: 119;
	width: 1330px;
	height: 3px;
	margin-right: -10000px;
	margin-top: 107px;
}

#u5488
{
	z-index: 120;
	width: 79px;
	height: 3px;
	background-color: #29ABE2;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 830px;
}

#pu5473
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -7px;
}

#u5473
{
	z-index: 4;
	height: 176px;
	background: transparent url("../images/831b37ff5b613882581892d1b57ebbc9.jpg") no-repeat center bottom;
	background-size: cover;
}

#u5473-bw
{
	z-index: 4;
	height: 176px;
}

#u5474
{
	z-index: 5;
	min-height: 96px;
	background-color: #B9B1AB;
	background-color: rgba(115,99,87,0.5);
	padding-bottom: 64px;
	-pie-background: rgba(115,99,87,0.5);
}

#u5474_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1330px;
	position: relative;
	left: -100px;
}

#u5475-4
{
	z-index: 6;
	width: 436px;
	min-height: 44px;
	background-color: transparent;
	line-height: 42px;
	color: #FFFFFF;
	font-size: 35px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 547px;
}

#u5474-bw
{
	z-index: 5;
	min-height: 96px;
	margin-top: 8px;
}

#u5476-4
{
	z-index: 10;
	width: 1134px;
	min-height: 44px;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 15px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 98px;
	margin-top: 41px;
	position: relative;
}

#u5477-3
{
	z-index: 14;
	width: 1134px;
	min-height: 472px;
	line-height: 18px;
	color: #000000;
	font-size: 15px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 98px;
	margin-top: 18px;
	position: relative;
	background: transparent url("../images/unnamed%20(1).png") no-repeat center center;
}

#u5478
{
	z-index: 17;
	width: 165px;
	height: 35px;
	margin-left: 582px;
	position: relative;
}

#u5457
{
	z-index: 2;
	width: 122px;
	height: 120px;
	margin-left: 610px;
	margin-top: 1px;
}

#pu5458
{
	width: 0.01px;
	margin-left: -100px;
}

#u5458
{
	z-index: 3;
	width: 42px;
	height: 52px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 135px;
}

.ie #u5478,.ie #u5458
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4296
{
	z-index: 121;
	min-height: 309px;
	padding-bottom: 16px;
}

#u4296_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1330px;
	left: -100px;
}

#u5052-4
{
	z-index: 126;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 158px;
	left: 207px;
}

#u5053-4
{
	z-index: 130;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 158px;
	left: 302px;
}

#ppu5054-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 158px;
	margin-left: 397px;
}

#pmenuu4056,#pu5054-4
{
	width: 0.01px;
}

#u5054-4
{
	z-index: 134;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
}

#u5055-4
{
	z-index: 138;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	left: 95px;
}

#u5057-4
{
	z-index: 142;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	left: 190px;
}

#u5058-4
{
	z-index: 146;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	left: 285px;
}

#u5059-4
{
	z-index: 150;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	left: 380px;
}

#u5060-4
{
	z-index: 154;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	left: 475px;
}

#u5061-4
{
	z-index: 158;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	left: 570px;
}

#u5062-4
{
	z-index: 162;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	left: 665px;
}

#u5246-5
{
	z-index: 174;
	width: 694px;
	min-height: 23px;
	margin-left: 21px;
	margin-top: 38px;
}

#u4994-4
{
	z-index: 122;
	width: 265px;
	min-height: 23px;
	margin-left: 222px;
	margin-top: 30px;
}

#u5063-4
{
	z-index: 166;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 158px;
	left: 1156px;
}

#u5064-4
{
	z-index: 170;
	width: 72px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 158px;
	left: 1251px;
}

#u4296-bw
{
	z-index: 121;
	min-height: 309px;
}

body
{
	position: relative;
	min-width: 1330px;
	padding-top: 30px;
}

#page .verticalspacer
{
	clear: both;
}

