#u6878
{
	position: relative;
	background: transparent url("../../images/africa2.png") no-repeat center center;
	background-size: contain;
}

#menuu6493
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6599,#u6600
{
	background-color: transparent;
	position: relative;
}

#u6603-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 8px;
	text-align: center;
	line-height: 10px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u6494,#u6495
{
	background-color: transparent;
	position: relative;
}

#u6498-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 8px;
	text-align: center;
	line-height: 10px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u6501,#u6502
{
	background-color: transparent;
	position: relative;
}

#u6504-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 8px;
	text-align: center;
	line-height: 10px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u6505
{
	position: relative;
	background: transparent url("../../images/arrowmenudown.gif") no-repeat center center;
}

#u6502.MuseMenuActive #u6505
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u6506
{
	background-color: transparent;
}

#u6507
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u6546
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u6546:hover
{
	background-color: #7F7F7F;
}

#u6549-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u6516
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u6516:hover
{
	background-color: #7F7F7F;
}

#u6517-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u6511
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u6511:hover
{
	background-color: #7F7F7F;
}

#u6513-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u6525
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u6525:hover
{
	background-color: #7F7F7F;
}

#u6528-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u6567
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u6567:hover
{
	background-color: #7F7F7F;
}

#u6570-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u6551
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u6551:hover
{
	background-color: #7F7F7F;
}

#u6554-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u6572
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u6572:hover
{
	background-color: #7F7F7F;
}

#u6573-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u6530
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u6530:hover
{
	background-color: #7F7F7F;
}

#u6532-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u6560
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u6560:hover
{
	background-color: #7F7F7F;
}

#u6562-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u6539
{
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u6539:hover
{
	background-color: #7F7F7F;
}

#u6546.MuseMenuActive,#u6516.MuseMenuActive,#u6511.MuseMenuActive,#u6525.MuseMenuActive,#u6567.MuseMenuActive,#u6551.MuseMenuActive,#u6572.MuseMenuActive,#u6530.MuseMenuActive,#u6560.MuseMenuActive,#u6539.MuseMenuActive
{
	background-color: #666666;
}

#u6542-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u6543,#u6515,#u6508,#u6522,#u6564,#u6550,#u6571,#u6529,#u6557,#u6536,#u6578,#u6579
{
	background-color: transparent;
	position: relative;
}

#u6582-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 8px;
	text-align: center;
	line-height: 10px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u6585,#u6588
{
	background-color: transparent;
	position: relative;
}

#u6591-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 8px;
	text-align: center;
	line-height: 10px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u6592,#u6593
{
	background-color: transparent;
	position: relative;
}

#u6595-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 8px;
	text-align: center;
	line-height: 10px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u6463
{
	background-color: #29ABE2;
}

#u6464
{
	position: relative;
	background: transparent url("../../images/africa2.png") no-repeat center center;
	background-size: cover;
}

#u6490
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u6465-4
{
	background-color: transparent;
	color: #000000;
	font-size: 8px;
	text-align: center;
	line-height: 10px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u6466-5,#u6467-5,#u6468-5,#u6469-5,#u6470-5,#u6472-5,#u6473-5,#u6474-5,#u6475-5,#u6477-5,#u6478-5,#u6479-5,#u6480-5,#u6481-5,#u6482-5,#u6483-5,#u6484-5,#u6485-5,#u6486-5,#u6487-5,#u6489-5
{
	background-color: transparent;
	color: #000000;
	font-size: 8px;
	text-align: left;
	line-height: 10px;
	position: relative;
}

