.version.second_round /* version checker */
{
	color: #0000EE;
	background-color: #489B62;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 563.6500000000004px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 6px;
	padding-bottom: 0px;
}

#u6878
{
	z-index: 239;
	width: 72px;
	height: 65px;
	margin-left: 154px;
}

#menuu6493
{
	z-index: 2;
	width: 298px;
	margin-left: 45px;
	margin-top: 1px;
}

#u6599
{
	width: 48px;
	min-height: 34px;
	margin-right: -10000px;
}

#u6600
{
	width: 48px;
	padding-bottom: 22px;
}

#u6603-4
{
	width: 48px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u6494
{
	width: 48px;
	min-height: 34px;
	margin-right: -10000px;
	left: 50px;
}

#u6495
{
	width: 48px;
	padding-bottom: 22px;
}

#u6498-4
{
	width: 48px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u6501
{
	width: 48px;
	min-height: 34px;
	margin-right: -10000px;
	left: 100px;
}

#u6502
{
	width: 48px;
	padding-bottom: 20px;
}

#u6504-4
{
	width: 34px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u6502.MuseMenuActive #u6504-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u6505
{
	z-index: 21;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 34px;
}

#u6502.MuseMenuActive #u6505
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6506
{
	width: 102px;
	top: 34px;
}

#u6546
{
	width: 100px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6546:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6549-4
{
	width: 92px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6546:hover #u6549-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u6516
{
	width: 100px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6546.MuseMenuActive,#u6516:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6517-4
{
	width: 92px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6546.MuseMenuActive #u6549-4,#u6516:hover #u6517-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u6511
{
	width: 100px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6516.MuseMenuActive,#u6511:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6513-4
{
	width: 92px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6516.MuseMenuActive #u6517-4,#u6511:hover #u6513-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u6525
{
	width: 100px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6511.MuseMenuActive,#u6525:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6528-4
{
	width: 92px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6511.MuseMenuActive #u6513-4,#u6525:hover #u6528-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u6567
{
	width: 100px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6525.MuseMenuActive,#u6567:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6570-4
{
	width: 92px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6525.MuseMenuActive #u6528-4,#u6567:hover #u6570-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u6551
{
	width: 100px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6567.MuseMenuActive,#u6551:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6554-4
{
	width: 92px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6567.MuseMenuActive #u6570-4,#u6551:hover #u6554-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u6572
{
	width: 100px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6551.MuseMenuActive,#u6572:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6573-4
{
	width: 92px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6551.MuseMenuActive #u6554-4,#u6572:hover #u6573-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u6530
{
	width: 100px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6572.MuseMenuActive,#u6530:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6532-4
{
	width: 92px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6572.MuseMenuActive #u6573-4,#u6530:hover #u6532-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u6560
{
	width: 100px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6530.MuseMenuActive,#u6560:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6562-4
{
	width: 92px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6530.MuseMenuActive #u6532-4,#u6560:hover #u6562-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u6507,#u6543,#u6515,#u6508,#u6522,#u6564,#u6550,#u6571,#u6529,#u6557,#u6536
{
	width: 100px;
}

#u6539
{
	width: 100px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u6560.MuseMenuActive,#u6539:hover
{
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6539.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6542-4
{
	width: 92px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u6560.MuseMenuActive #u6562-4,#u6539:hover #u6542-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u6539.MuseMenuActive #u6542-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u6578
{
	width: 48px;
	min-height: 34px;
	margin-right: -10000px;
	left: 150px;
}

#u6579
{
	width: 48px;
	padding-bottom: 22px;
}

#u6582-4
{
	width: 48px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u6585
{
	width: 48px;
	min-height: 34px;
	margin-right: -10000px;
	left: 200px;
}

#u6588
{
	width: 48px;
	padding-bottom: 22px;
}

#u6591-4
{
	width: 48px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u6592
{
	width: 48px;
	min-height: 34px;
	margin-right: -10000px;
	left: 250px;
}

#u6593
{
	width: 48px;
	padding-bottom: 22px;
}

#u6600.MuseMenuActive,#u6495.MuseMenuActive,#u6502.MuseMenuActive,#u6579.MuseMenuActive,#u6588.MuseMenuActive,#u6593.MuseMenuActive
{
	width: 48px;
	min-height: 0px;
	margin: 0px;
}

#u6595-4
{
	width: 48px;
	min-height: 12px;
	margin-right: -10000px;
	top: 11px;
}

#u6600.MuseMenuActive #u6603-4,#u6495.MuseMenuActive #u6498-4,#u6579.MuseMenuActive #u6582-4,#u6588.MuseMenuActive #u6591-4,#u6593.MuseMenuActive #u6595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#pu7661
{
	width: 0.01px;
	margin-top: 3px;
}

#u7661
{
	z-index: 102;
	height: 64px;
	background: transparent url("../../images/football-africa-reportage-31-1080x660.jpg") no-repeat center center;
}

#u7661-bw
{
	z-index: 102;
	height: 64px;
}

#u7662
{
	z-index: 103;
	min-height: 32px;
	background-color: #B9B1AB;
	background-color: rgba(115,99,87,0.5);
	padding-bottom: 20px;
	-pie-background: rgba(115,99,87,0.5);
}

#u7663-4
{
	z-index: 104;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 106px;
}

#u7662-bw
{
	z-index: 103;
	min-height: 32px;
	margin-top: 6px;
}

#pu7664-4
{
	width: 0.01px;
	margin-left: 109px;
	margin-top: 19px;
}

#u7664-4
{
	z-index: 108;
	width: 80px;
	min-height: 11px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u7665-4
{
	z-index: 112;
	width: 80px;
	min-height: 11px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 81px;
	border-width: 0px 0px 1px;
}

#u7664-4:hover,#u7665-4:hover
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 11px;
	width: 80px;
	margin: 0px -10000px -1px 0px;
}

#u7820-4
{
	z-index: 116;
	display: block;
	vertical-align: top;
	margin-left: 116px;
	margin-top: 12px;
	position: relative;
}

#u7821-4
{
	z-index: 120;
	width: 107px;
	min-height: 21px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 10px;
	text-align: left;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-style: italic;
	margin-left: 27px;
	margin-top: 5px;
	position: relative;
}

#u7822-4
{
	z-index: 124;
	width: 107px;
	min-height: 15px;
	background-color: transparent;
	font-size: 10px;
	text-align: left;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u7823-4
{
	z-index: 128;
	width: 53px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 127px;
}

#u7826-4
{
	z-index: 140;
	width: 107px;
	min-height: 15px;
	background-color: transparent;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u7825-4
{
	z-index: 136;
	width: 92px;
	min-height: 13px;
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 134px;
	margin-top: 3px;
	position: relative;
}

#u7827-4
{
	z-index: 144;
	width: 107px;
	min-height: 15px;
	background-color: transparent;
	font-size: 10px;
	text-align: left;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u7828-4
{
	z-index: 148;
	width: 53px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 127px;
}

#u7830-4
{
	z-index: 156;
	width: 107px;
	min-height: 15px;
	background-color: transparent;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u7829-4
{
	z-index: 152;
	width: 92px;
	min-height: 13px;
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 134px;
	margin-top: 2px;
	position: relative;
}

#u7824-4
{
	z-index: 132;
	width: 118px;
	min-height: 21px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 10px;
	text-align: left;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-style: italic;
	margin-left: 27px;
	margin-top: 5px;
	position: relative;
}

#pu7822-4,#pu7831-4
{
	width: 0.01px;
	margin-left: 27px;
}

#u7831-4
{
	z-index: 160;
	width: 107px;
	min-height: 15px;
	background-color: transparent;
	font-size: 10px;
	text-align: left;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u7832-4
{
	z-index: 164;
	width: 53px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 127px;
}

#u7834-4
{
	z-index: 172;
	width: 107px;
	min-height: 15px;
	background-color: transparent;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u7833-4
{
	z-index: 168;
	width: 92px;
	min-height: 13px;
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 134px;
	margin-top: 3px;
	position: relative;
}

#pu7835-4
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 9px;
}

#u7835-4
{
	z-index: 176;
	width: 107px;
	min-height: 15px;
	background-color: transparent;
	font-size: 10px;
	text-align: left;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u7836-4
{
	z-index: 180;
	width: 53px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 127px;
}

#u7838-4
{
	z-index: 188;
	width: 107px;
	min-height: 15px;
	background-color: transparent;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u7837-4
{
	z-index: 184;
	width: 92px;
	min-height: 13px;
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 134px;
	margin-top: 3px;
	position: relative;
}

#u7851
{
	z-index: 237;
	width: 342px;
	height: 7px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: 19px;
	margin-top: 4px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u7840-4
{
	z-index: 193;
	display: block;
	vertical-align: top;
	margin-left: 116px;
	margin-top: 8px;
	position: relative;
}

#u7841-4
{
	z-index: 197;
	width: 107px;
	min-height: 21px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 10px;
	text-align: left;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-style: italic;
	margin-left: 27px;
	margin-top: 7px;
	position: relative;
}

#pu7842-4
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 1px;
}

#u7842-4
{
	z-index: 201;
	width: 107px;
	min-height: 15px;
	background-color: transparent;
	font-size: 10px;
	text-align: left;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u7843-4
{
	z-index: 205;
	width: 53px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 127px;
}

#u7845-4
{
	z-index: 213;
	width: 107px;
	min-height: 15px;
	background-color: transparent;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u7844-4
{
	z-index: 209;
	width: 92px;
	min-height: 13px;
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 134px;
	margin-top: 2px;
	position: relative;
}

#pu7827-4,#pu7846-4
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 10px;
}

#u7846-4
{
	z-index: 217;
	width: 107px;
	min-height: 15px;
	background-color: transparent;
	font-size: 10px;
	text-align: left;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u7847-4
{
	z-index: 221;
	width: 53px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 127px;
}

#u7849-4
{
	z-index: 229;
	width: 107px;
	min-height: 15px;
	background-color: transparent;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u7848-4
{
	z-index: 225;
	width: 92px;
	min-height: 13px;
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 134px;
	margin-top: 3px;
	position: relative;
}

#u7852
{
	z-index: 238;
	width: 342px;
	height: 7px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: 19px;
	margin-top: 4px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u7850-4
{
	z-index: 233;
	display: block;
	vertical-align: top;
	margin-left: 116px;
	margin-top: 5px;
	position: relative;
}

#u7839
{
	z-index: 192;
	width: 15px;
	height: 46px;
	margin-left: 342px;
	margin-top: 6px;
	position: relative;
}

.ie #u7839
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu6463
{
	width: 0.01px;
}

#u6463
{
	z-index: 240;
	min-height: 154px;
	padding: 8px 86px 8px 38px;
}

#ppu6464
{
	width: 0.01px;
	left: -1px;
	position: relative;
}

#pu6464
{
	width: 0.01px;
	margin-right: -10000px;
}

#u6464
{
	z-index: 241;
	width: 73px;
	height: 74px;
	margin-left: 3px;
}

#u6466-5
{
	z-index: 246;
	width: 151px;
	min-height: 33px;
	margin-top: 6px;
}

#u6490
{
	z-index: 351;
	width: 8px;
	height: 85px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 157px;
}

#pu6467-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 23px;
	margin-left: 178px;
}

#u6467-5
{
	z-index: 251;
	width: 32px;
	min-height: 15px;
}

#u6468-5
{
	z-index: 256;
	width: 32px;
	min-height: 15px;
}

#u6465-4
{
	z-index: 242;
	width: 209px;
	min-height: 9px;
	margin-left: 47px;
	margin-top: 31px;
}

#u6463-bw
{
	z-index: 240;
	min-height: 154px;
}

#u6469-5
{
	z-index: 261;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 215px;
}

#u6470-5
{
	z-index: 266;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 91px;
	left: 215px;
}

#u6472-5
{
	z-index: 271;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 247px;
}

#u6473-5
{
	z-index: 276;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 247px;
}

#u6474-5
{
	z-index: 281;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 247px;
}

#u6475-5
{
	z-index: 286;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 91px;
	left: 247px;
}

#u6477-5
{
	z-index: 291;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 279px;
}

#u6478-5
{
	z-index: 296;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 279px;
}

#u6479-5
{
	z-index: 301;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 279px;
}

#u6480-5
{
	z-index: 306;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 91px;
	left: 279px;
}

#u6481-5
{
	z-index: 311;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 311px;
}

#u6482-5
{
	z-index: 316;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 311px;
}

#u6483-5
{
	z-index: 321;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 311px;
}

#u6484-5
{
	z-index: 326;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 91px;
	left: 311px;
}

#u6485-5
{
	z-index: 331;
	width: 48px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 215px;
}

#u6486-5
{
	z-index: 336;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 215px;
}

#u6487-5
{
	z-index: 341;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 254px;
}

#u6489-5
{
	z-index: 346;
	width: 32px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 292px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

